<div class="content">
			<div visualizer hot-dog-data="hotDog"></div>

			<div id="controls">

				<span style="float:left">
					<label>How do you like your hot dog?</label>
					<br/>
					rare <input type="range" min="0" max="1" step="0.1" ng-model="hotDog.dog.percent"/> well done
				</span>

				<span style="float:right">
					<label>choose an exotic locale:</label>
					<br/>
					<select ng-model="hotDog.backdrop.selected" ng-options="filename for filename in hotDog.backdrop.images"></select>
				</span>
				<br/>

				<button ng-click="addCondiment()">add a condiment</button>
				<p ng-repeat="condiment in hotDog.condiments">
					amount <input type="range" min="3" max="50" step="1" ng-model="condiment.amount"/>
					type <select ng-options="type.name for type in condimentTypes" ng-model="condiment.type"/>
					<a style="float:right" href='#' ng-click="$parent.removeCondiment($index)">X</a>
				</p>
			</div>
		</div>