<div>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		version="1.1"
		id="map"
		x="0"
		y="0"
		ng-attr-width="{{hotDogData.width}}"
		ng-attr-height="{{hotDogData.height}}"
		xml:space="preserve">

		<defs>
			<filter id="condiment">
					<feGaussianBlur in="SourceAlpha" stdDeviation="4" result="blur"/>
					<feSpecularLighting in="blur" surfaceScale="5" specularConstant=".95" specularExponent="50" lighting-color="#bbbbbb" result="specOut">
						<fePointLight x="-50000" y="-50000" z="20000"/>
					</feSpecularLighting>
					<feComposite in="specOut" in2="SourceAlpha" operator="in" result="specOut"/>
			<feComposite in="SourceGraphic" in2="specOut" operator="arithmetic" k1="0" k2="1" k3="1" k4="0" result="litPaint"/>
			</filter>
		</defs>

		<g image-loader name="backdrop" url="hotDogData.backdrop.selected" ng-attr-width="{{hotDogData.width}}" ng-attr-height="{{hotDogData.height}}"></g>

		<g image-loader name="bun-base" url="hotDogData.bun.base" ng-attr-width="{{hotDogData.width}}" ng-attr-height="{{hotDogData.height}}"></g>

		<g dog dog-data="hotDogData.dog" ng-attr-width="{{hotDogData.width-30}}" ng-attr-height="{{hotDogData.height-30}}"></g>

		<g ng-repeat="someCondiment in hotDogData.condiments" >
			<g condiment condiment-data="someCondiment" class="shine"></g>
		</g>

		<g ng-repeat="topping in toppings" ></g>

		<g image-loader name="bun-top" url="hotDogData.bun.top" ng-attr-width="{{hotDogData.width}}" ng-attr-height="{{hotDogData.height}}"></g>

	</svg>
</div>