<div>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		version="1.1"
		id="map"
		x="0"
		y="0"
		ng-attr-width="{{hotDogData.width}}"
		ng-attr-height="{{hotDogData.height}}"
		xml:space="preserve">

		<g image-loader name="backdrop" url="hotDogData.backdrop.selected" ng-attr-width="{{hotDogData.width}}" ng-attr-height="{{hotDogData.height}}"></g>

		<g image-loader name="bun-base" url="hotDogData.bun.base" ng-attr-width="{{hotDogData.width}}" ng-attr-height="{{hotDogData.height}}"></g>

		<g dog dog-data="hotDogData.dog" ng-attr-width="{{hotDogData.width-30}}" ng-attr-height="{{hotDogData.height-30}}"></g>

		<g image-loader name="bun-top" url="hotDogData.bun.top" ng-attr-width="{{hotDogData.width}}" ng-attr-height="{{hotDogData.height}}"></g>

		<g ng-repeat="condiment in condiments" ></g>

		<g ng-repeat="topping in toppings" ></g>

	</svg>
</div>