<!doctype html>
<html lang="en" ng-app="hotdogApp">
<head>
	<meta charset="utf-8">
	<title>Product visualization made easy with Angular</title>
	<link rel="stylesheet" href="css/reveal.min.css">
	<link rel="stylesheet" href="css/night.css">
	<link rel="stylesheet" href="css/styles.css">
</head>
<body ng-controller="BodyController">
	<div class="reveal">
		<div class="slides">

			<section>
				<h2>Product visualization made easy with Angular</h2>
				<br/><br/>
				<h3>Duncan Alexander (<a href="http://twitter.com/hypothete" target="blank">@hypothete</a>)</h3>
				<h3>
				<a href="https://github.com/pollinate/HotdogCustomizer" target="blank">github.com/pollinate/HotdogCustomizer</a>
				</h3>
				<br/><br/>
				<div style="width:162px; height:61px; background:url(assets/pollinate.png)"></div>
			</section>

			<section>
				<h1>Demo</h1>
				<div class="content" ng-controller="DogController">
					<div visualizer hot-dog-data="hotDog"></div>
					<div id="controls">
						<span style="float:left">
							<label>How do you like your hot dog?</label>
							<br/>
							rare <input type="range" min="0" max="1" step="0.1" ng-model="hotDog.dog.percent"/> well done
						</span>

						<span style="float:right">
							<label>choose an exotic locale:</label>
							<br/>
							<select ng-model="hotDog.backdrop" ng-options="filename for filename in backgroundImages"></select>
						</span>
						<br/><br/>
						<button ng-click="addCondiment()">add a condiment
						</button>
						<p ng-repeat="condiment in hotDog.condiments">
							amount <input type="range" min="3" max="50" step="1" ng-model="condiment.amount"/>
							type <select ng-options="type.name for type in condimentTypes" ng-model="condiment.type"></select>
							<a style="margin-left:100px" ng-click="$parent.removeCondiment($index)">X</a>
						</p>
					</div>
				</div>
			</section>

			<section>
				<h1>Businesses want product customizers</h1>
			</section>

			<section>
				<h1>What does our visualization provide?</h1>
			</section>

			<section data-background="">
				<h2>Instant feedback for the customer</h2>
				<img src="assets/happy-customer.jpg"/>
			</section>

			<section data-background="">
				<h2>
					Specifications for the manufacturer
				</h2>
				<img src="assets/hot-dog-stand.jpg"/>
			</section>

			<section data-background="">
				<h2>
					Richer web content
				</h2>
				<img src="assets/halloweenie.png"/>
			</section>

			<section>
				<h1>Early attempts</h1>
			</section>

			<section>
				<h2>Canvas-based masking</h2>
				<iframe src="http://hypothete.com/images/2013/shirt" width="800" height="600"></iframe>
			</section>

			<section>
				<h1>Treat the Canvas as a destination</h1>
				<img src="assets/domexception.jpg" width="800px"/>
				<h3>(most of the time)</h3>
			</section>

			<section>
				<h2>SVG as the middleman</h2>
				<br/>
				<h3>
					<ol>
						<li class="fragment" data-fragment-index="1">SVG paths for colorization</li>
						<li class="fragment" data-fragment-index="2"><a href="https://code.google.com/p/canvg/" target="blank">canvg</a></li>
						<li class="fragment" data-fragment-index="3">combine with all steps</li>
						<li class="fragment" data-fragment-index="4">do this every time we make a change...</li>
					</ol>
				</h3>
			</section>

			<section>
				<h1>What if...</h1>
				<br/><br/>
				<h3 class="fragment" data-fragment-index="1">The SVG was made of directives?</h3>
			</section>

			<section data-background="assets/directive-template.png">
			</section>

			<section>
				<h1>Working with SVG-based directives</h1>
			</section>

			<section data-background="">
				<h1>Namespace your elements</h1>
				<img src="assets/openingtag.png" width="800px" />
				<code>document.createElementNS('http://www.w3.org/2000/svg', 'svg');</code>
			</section>

			<section>
				<h1>&lt;g&gt; tags are the divs of SVG</h1>
			</section>

			<section ng-controller="IsolateDemo">
				<h1>Setting up your scope</h1>
				<div style="display:inline-block" visualizer hot-dog-data="firstHotDog"></div>
				<div style="display:inline-block" visualizer hot-dog-data="secondHotDog"></div>
			</section>

			<section>
				<h1>Bidirectional binding (=) is your new best friend</h1>
				<input type="text" ng-model="textShare"/>
				<input type="text" ng-model="textShare"/>
			</section>

			<section>
				<img src="assets/isolate-scope.png"/>
			</section>
			
			<section>
				<h1><i>ngAttr</i> bindings</h1>
			</section>

			<section>
				<h1><i>ngRepeat</i></h1>
				<img src="assets/ngrepeat.png" width="800px"/>
			</section>

			<section>
				<h1>Scope IDs will save you headaches</h1>
				<img src="assets/batarang.jpg"/>
			</section>

			<section>
				<h1>Images are asynchronous</h1>
				<img src="assets/not-sure-if-slow-internet.jpg"/>
				<br/>
				<code>$q.all([ajax requests]).then(function(aggregate){});</code>
			</section>

			<section>
				<code data-trimstyle="text-align:left;">
					<img src="assets/dummy-image.png" class="stretch"/>
				</code>
			</section>

			<section>
				<h1>Preload your fonts</h1>
				<br/><br/>
				<h3>Still working out font issues in IE</h3>
			</section>

			<section>
				<h1>How to know when your visualization has finished</h1>
			</section>

			<section data-background="">
				<img src="assets/event-monitoring-system.png"/>
			</section>

			<section>
				<h1>Questions?</h1>
				<br/><br/>
				<h3>Duncan Alexander (<a href="http://twitter.com/hypothete" target="blank">@hypothete</a>)</h3>
				<h3>
				<a href="https://github.com/pollinate/HotdogCustomizer" target="blank">github.com/pollinate/HotdogCustomizer</a>
				</h3>
			</section>

			
		</div>
	</div>
	<script src="js/jquery-2.1.0.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/reveal.min.js"></script>
	<script src="js/canvg.js"></script>

	<script src="js/angular-app.js"></script>

	<script src="js/controllers/body-controller.js"></script>
	<script src="js/controllers/dog-controller.js"></script>
	<script src="js/controllers/isolate-demo.js"></script>

	<script src="js/services/hot-dog-service.js"></script>

	<script src="js/directives/visualizer.js"></script>
	<script src="js/directives/imageLoader.js"></script>
	<script src="js/directives/dog.js"></script>
	<script src="js/directives/condiment.js"></script>

	<script>
		// Required, even if empty.
		Reveal.initialize({
			controls: true,
			slideNumber:true,
			transition: 'linear'
		});
	</script>
</body>
</html>