<!DOCTYPE html>
<html ng-app="hotdogApp">
	<head>
		<meta charset=utf-8 />
		<title>Hot Dog Customizer</title>
		<link href="styles.css" rel="stylesheet" type="text/css"/>
	</head>
	<body ng-controller="AppControls">

		<div id="content">
			<div visualizer hot-dog-data="hotDog"></div>

			<div id="controls">

				<span style="float:left">
					<label>How do you like your hot dog?</label>
					<br/>
					rare <input type="range" min="0" max="1" step="0.1" ng-model="hotDog.dog.percent"/> well done
				</span>

				<span style="float:right">
					<label>choose an exotic locale:</label>
					<br/>
					<select ng-model="hotDog.backdrop.selected" ng-options="filename for filename in hotDog.backdrop.images"></select>
				</span>
			</div>
		</div>
		
		<!-- JS Resources -->

		<!-- external libs -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>

		<!-- app files -->
		<script src="js/app.js"></script>
		<script src="js/hot-dog-service.js"></script>

		<script src="js/visualizer.js"></script>
		<script src="js/imageLoader.js"></script>
		<script src="js/dog.js"></script>
	</body>
</html>