body{
	margin: 20px 20px;
	width: 100%;
	font-family: sans-serif;
	background-color: #444;
	color: #aba;
}

body a{
	color: #cfc;
}

.content{
	position:relative;
	width: 500px;
	margin: 100px auto;
}

.shine {
  filter: url(#condiment);
}

.headerlisting{
	margin: 5px;
	background-color: rgba(255,255,255,0.35);
	padding: 5px;
}

.headerlisting:hover{
	background-color: rgba(255,255,255,0.5);
}

.slidenumber{
	position:absolute;
	right:30px;
	bottom:20px;
}

.center{
	position:relative;
	display:block;
	margin: 20px auto;
}